@model MediaAdmin.MediaEntity.Customer

<tr>
    <td class="text-center"><strong>@Model.CustomerID</strong></td>
    <td class="visible-lg">@Model.Name @Model.LastName</td>
    <td class="text-center"><strong>@Model.City</strong></td>
    <td class="text-center"><strong>@Model.Country</strong></td>
    <td class="text-center"><strong>@Model.Email</strong></td>
    <td class="text-center"><strong>@Model.CustomerTyp</strong></td>
    <td class="text-center"><strong>@Model.CompanyName</strong></td>
    <td class="text-center">
        <div class="btn-group btn-group-xs">
            @Html.ActionLink(" ", "CustomerView", new {@Model.CustomerID }, new { @class = "btn btn-default fa fa-pencil", title = "Edit" })
            @Html.ActionLink(" ", "CustomerEdit", new { @Model.CustomerID }, new { @class = "btn btn-default fa fa-eye", title = "View" })
        </div>
    </td>
</tr>

