@model MediaAdmin.MediaEntity.Customer

@*<div class="well">
    <h3>
        <strong>
            @Model.Name
        </strong>
        <span class="pull-right label label-primary">
            @Model.CustomerID.ToString()
        </span>
    </h3>
    <span class="lead">
        @Model.City
    </span>
</div>*@

<tr>
    <td class="text-center"><strong>@Model.CustomerID</strong></td>
    <td class="visible-lg">@Model.Name @Model.LastName</td>
    <td class="text-center"><strong>@Model.City</strong></td>
    <td class="text-center"><strong>@Model.Country</strong></td>
    <td class="text-center"><strong>@Model.Email</strong></td>
    <td class="text-center"><strong>@Model.CustomerTyp</strong></td>
    <td class="text-center"><strong>@Model.CompanyName</strong></td>
    <td class="text-center">
        <div class="btn-group btn-group-xs">
            <a href="#" data-toggle="tooltip" title="View" class="btn btn-default"><i class="fa fa-eye"></i></a>
        </div>
    </td>
</tr>

