@model MediaAdmin.MediaEntity.Job

<tr>
    <td class="text-center"><strong>@Model.JobID</strong></td>
    <td class="visible-lg">@Model.CustomerID</td>
    <td class="text-center"><strong>@Model.StartDate</strong></td>
    <td class="text-center"><strong>@Model.EndDate</strong></td>
    <td class="text-center"><strong>@Model.SourceLanguage</strong></td>
    <td class="text-center"><strong>@Model.Payment</strong></td>
    <td class="text-center"><strong>@Model.Value</strong></td>
    <td class="text-center"><strong>@Model.Status</strong></td>
    <td class="text-center">
        <div class="btn-group btn-group-xs">
            @Html.ActionLink(" ", "CustomerEdit", new { @Model.CustomerID }, new { @class = "btn btn-default fa fa-pencil", title = "Edit" })
            @Html.ActionLink(" ", "CustomerView", new { @Model.CustomerID }, new { @class = "btn btn-default fa fa-eye", title = "View" })
        </div>
    </td>
</tr>
